/*.App {
  width: 25%;
  margin: 20px auto;
}*/
/*
.my-container{
  width: 50% !important;
}
*/
/* general rules */
/*
.text-span{
  font-size: 25px;
  color: #494980;
  display: inline-block;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
*/
/* end general rules */
/*.App{
 
}*/

/*

.content{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.aside{
  width: 24%;
  padding-left: 10px;
}
.my-form{
  padding-top: 20px;
}
.input{
  background-color: #e0dddd !important;
}

.section{
  margin-left: 10px;
  width: 74%;
  display: flex;
  justify-content: flex-start;
}
.section .presentation{
  width: 59%;
  border: 2px solid #BDD8FB;
}
.section .presentation p{
  padding-left: 10px;
  text-indent: 20px;
  color: rgb(102, 99, 99);
}

.section .article{
  margin-left: 10px;
  width: 30%;
  background-color: blue;
}

*/
